.contenedor-descripcion{
    display: flex;
    margin-bottom: 80px;
}

.imagen-descripcion{
    margin-right: 40px;
}

.contenedor-propiedades{
    display: flex;
    justify-content: space-around;
    color: rgb(202, 9, 9);
    border-top: 1px solid rgb(202, 9, 9);
    padding-top: 30px;
}